# Copiez ce fichier en ".env" et renseignez vos vraies valeurs

# URL de connexion MongoDB (local ou MongoDB Atlas)
MONGO_URI=mongodb://127.0.0.1:27017/formulaire_db

# Port du serveur Express
PORT=5000
JWT_SECRET=0507333b26a09d1ea74b29a400f9b1e0da4d181e08d7d39b28ce0d40f652782deb2fc364be3b8e3fe7cc0c52d0993c8623b119c33b7f242f95ad88f2b4eb6c0d
ADMIN_EMAIL=zakaria@exemple.com
ADMIN_PASSWORD=zakaria-amine

# Origine autorisée pour le CORS (URL du frontend React)
CLIENT_ORIGIN=http://localhost:5173
